* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.calculator {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    width: 230px;
    height: 50px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 5px;
    transition: background-color 0.2s;
        /* Add a transition effect */
}

.zero {
    width: 110px;
}

button:hover {
    background-color: #ffffff;
    color: black;
}

.pressedButton {
    background-color: #ffffff;
    color: black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.button1 {
    grid-area: 1 / 1 / 2 / 2;
}

.button2 {
    grid-area: 1 / 2 / 2 / 3;
}

.button3 {
    grid-area: 1 / 3 / 2 / 4;
}

.button4 {
    grid-area: 1 / 4 / 2 / 5;
}

.button5 {
    grid-area: 2 / 1 / 3 / 2;
}

.button6 {
    grid-area: 2 / 2 / 3 / 3;
}

.button7 {
    grid-area: 2 / 3 / 3 / 4;
}

.button8 {
    grid-area: 2 / 4 / 3 / 5;
}

.button9 {
    grid-area: 3 / 1 / 4 / 2;
}

.button10 {
    grid-area: 3 / 2 / 4 / 3;
}

.button11 {
    grid-area: 3 / 3 / 4 / 4;
}

.button12 {
    grid-area: 3 / 4 / 4 / 5;
}

.button13 {
    grid-area: 4 / 1 / 5 / 2;
}

.button14 {
    grid-area: 4 / 2 / 5 / 3;
}

.button15 {
    grid-area: 4 / 3 / 5 / 4;
}

.button16 {
    grid-area: 4 / 4 / 5 / 5;
}

.button17 {
    grid-area: 5 / 1 / 6 / 3;
}

.button18 {
    grid-area: 5 / 3 / 6 / 4;
}

.button19 {
    grid-area: 5 / 4 / 6 / 5;
}
